<!DOCTYPE html lang="en-US"> 
    <head>
        <title>
            My player
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/4b97760acf.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@400&display=swap" rel="stylesheet">
    </head>
    <style>
        #mySongList {
            margin-top: 50px;
            font-family: 'Antonio', sans-serif;
            width: 420px;
            text-align: center;
            border: solid;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
            background-color: #AED6F1;
        }
        #currentplay {
            width: 420px;
            padding-top: 10x;
            padding-left: 20px;
            padding-right: 20px;
            border-style: solid;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding-bottom: 20px;
            background-color: #AED6F1;
        }
        #currentTitle {
            font-family: 'Antonio', sans-serif;
            margin-top: 20px;
            width: 375px;
            border-style: solid;
            border-radius: 20px;
            padding-top: 20px;
            padding-left: 15px;
            padding-bottom: 20px;
            background-color: #DAF7A6;
            margin-bottom: 20px;
        }
        #myvolume {
            margin-left: 10px;
            margin-right: 10px;
        }
        #songHeader {
            background-color: #51AEE4;
            width: 420px;
            margin-top: 100px;
            text-align:center;
        }
        #music_board {
            border: solid; 
            width: 420;
            background-color: #AED6F1;
        }
    </style>
    <body>
        <div class="container-sm" id="mySongList">
            <h3>My Song Title</h3>
            <ol class="list-group"></ol>
        </div>
        <div class="container-sm" id="music_board">
            <div class="container-sm" id="my_display" style="padding-right: 10px;">
                <canvas 
                    id="my_music_drawing" width="368" height="100"
                    style="display: inline;"
                ></canvas>
            </div>
            <div class="container-sm">
                <div id="switch">
                    <button id="display_switch">Click for Display</button>
                </div>
            </div>
        </div>
        <div class="container-sm">

            <div class="container-sm" id="currentplay">
                <div id="currentTitle">***************** No Song To Play ******************</div>
                <div id="controller">
                    <audio id="myplayer" preload="metadata"></audio>
                    <button class="btn btn-warning" onclick="myAudioPlayer.playPrevious()">
                        <i class="fas fa-step-backward"></i>
                    </button>
                    <button type="button" class="btn btn-primary" id="playButton" onclick="myAudioPlayer.playSong()">
                        <i class="far fa-play-circle"></i>
                    </button>
                    <button class="btn btn-success" onclick="myAudioPlayer.playNext()">
                        <i class="fas fa-step-forward"></i>
                    </button>
                    <button class="btn btn-danger" onclick="myAudioPlayer.muteSound()">
                        <i class="fas fa-volume-mute"></i>
                    </button>
                    <!-- #scrubber input type="range" min="0" max="100" value="0" id="time_slider" onchange="displayTime()"-->
                    <i id="myvolume" class="fas fa-volume-up"></i><input type="range" min="0" max="100" value="50" onchange="myAudioPlayer.changeVolume(this.value)">
                </div>
            </div>
            
        </div>
        
    </body>
    <script>

        class AudioPlayer {

            duration_sec = 0
            current_play_sec = 0
            trackIndex = 0
            myTrack = null
            audioElement = null
            songStarted = false
            songList = null
            space_grap = "   *"
            plotted = false

            constructor(myTrack) {

                this.myTrack = myTrack
                this.audioElement = document.getElementById("myplayer")

                this.loadSongMenu()
                this.trackAction()
                this.changeColor(this.trackIndex)
            }

            loadSongMenu() {
                this.songList = document.getElementById("mySongList").children[1]
                for (let i = 0; i < this.myTrack.length; i++) {
                   this.songList.innerHTML += `<li class=\"list-group-item\"><a id=${i}>${myTrack[i].split(".")[0]}</a></li>`
                   
                }
            }

            changeVolume(value) {
                this.audioElement.volume = value/100

                if (this.audioElement.volume == 0) {
                    document.getElementById("myvolume").setAttribute("class", "fas fa-volume-mute")
                } else {
                    document.getElementById("myvolume").setAttribute("class", "fas fa-volume-up")   
                }
            }

            displayTime() {
                document.getElementById("time_slider").value = parseInt((this.audioElement.currentTime/this.audioElement.duration) * 100)
            }

            loadSong() {
                if (!((this.trackIndex >= this.myTrack.length))) {
                    this.songStarted = true 

                    this.audioElement.src = "http://127.0.0.1:8088/static/" + this.myTrack[this.trackIndex]
                    this.audioElement.volume = 0.5
                    this.audioElement.play()
 
                    this.changeColor(this.trackIndex)
                    
                    this.audioElement.onloadedmetadata = (event) => {
                        this.duration_sec = this.audioElement.duration
                        this.duration_sec = parseInt(this.duration_sec / 60) + ":" + parseInt(this.duration_sec % 60)
                    }
                    
                    this.audioElement.ontimeupdate = (event) => {
                        this.current_play_sec = this.audioElement.currentTime

                        if (parseInt(this.current_play_sec) % 45 == 0) {

                            if (!this.plotted) {
                                this.space_grap += "*"
                                this.plotted = !this.plotted
                            }
                               
                        } else {
                            if(this.plotted) {
                                this.plotted = false
                            }
                        }
                        //the display can hold up to 52 characters
                        document.getElementById("currentTitle").innerHTML = this.myTrack[this.trackIndex].split(".")[0].slice(0, 35) + 
                            this.space_grap +  " " + 
                            parseInt(this.current_play_sec /60) + 
                            ":" + 
                            String(parseInt(this.current_play_sec % 60)).padStart(2, "0")  + 
                            " / " + this.duration_sec
                    }
                    
                    this.audioElement.onended = (event) => {
                        if (this.trackIndex < this.myTrack.length) {
                            //this.songStarted = false
                            this.space_grap = "   *"
                            this.playNext()
                        }
                    }
                } else if (this.trackIndex < -1) {
                    this.resetJuke()
                    this.loadSong()
                }
            }

            changeTrack(trackNumber) {
                this.songStarted = false
                this.trackIndex = trackNumber
            }

            resetJuke() {
                this.trackIndex = 0
                this.space_grap = "   *"
                this.songStarted = false
            }

            playSong() {
                if (this.songStarted) {
                    this.pauseSong()

                } else {
                    this.loadSong()
                }
            }

            muteSound() {
                this.audioElement.muted = !this.audioElement.muted
            }

            playNext() {

                if (this.trackIndex >= this.myTrack.length - 1) {
                    document.getElementById("currentTitle").innerHTML = "You are at Last Track"
                    //this.trackIndex = 0

                } else {
                    this.trackIndex++
                    this.songStarted= false
                    this.playSong()

                }
                //this.songStarted= false
                this.space_grap = "   *"
            }

            playPrevious() {
                if (this.trackIndex <= 0) {
                    document.getElementById("currentTitle").innerHTML = "You are at the First Track"
                    //this.trackIndex = 0

                } else {
                    this.trackIndex--
                    this.songStarted = false
                    this.playSong()

                }
                this.space_grap = "   *"
            }

            pauseSong() {
                if (!this.audioElement.paused) {
                    document.getElementById("playButton").children[0].setAttribute("class", "far fa-pause-circle")
                    this.audioElement.pause()

                } else {
                    document.getElementById("playButton").children[0].setAttribute("class", "far fa-play-circle")
                    this.audioElement.play()
                }
            }

            changeColor(index) {
            
                for (let i = 0; i < this.songList.children.length; i++) {
                    this.songList.children[i].style.backgroundColor = "\#FCF3CF"
                    this.songList.children[i].style.color = "black"
                }

                if (index < this.songList.children.length) {
                    this.songList.children[index].style.backgroundColor = "\#D35400"
                    this.songList.children[index].style.color = "white"
                }
            }

            trackAction() {
                let songMenu = document.getElementsByTagName("li")

                for (let i = 0; i < songMenu.length; i++) {
                    songMenu[i].onclick = (event) => {
                        this.changeTrack(i)
                        this.playSong()
                        this.space_grap = "   *"
                    }
                }
            }

        }

        //code adapted from https://engineering.carsguide.com.au/javascripts-web-audio-api-3ad0e624945
        class myAudioContext {

            audioCtx
            myAudio
            mySource
            myAnalyzer
            contextArray

            constructor(audioElement) {
                this.audioCtx = new (window.AudioContext || window.webkitAudioContext)();
                this.myAudio = document.querySelector('audio');
                this.myAudio.crossOrigin = "anonymous";

                this.mySource = this.audioCtx.createMediaElementSource(this.myAudio);
                this.myAnalyzer = this.audioCtx.createAnalyser();
            }

            getAnalyzerContext() {
                return this.myAnalyzer
            }

            getAudioContext() {
                return this.audioCtx
            }

            connectContext() {

                this.mySource.connect(this.myAnalyzer)
                this.myAnalyzer.connect(this.audioCtx.destination)
            }

            getBufferLength() {
                return this.myAnalyzer.frequencyBinCount;
            }

            createDataArray(fftSize) {
                this.myAnalyzer.fftSize = fftSize
                return new Uint8Array(this.getBufferLength());
            }
        }

        //main execution
        let myTrack = [
            "time.flac",
            "one_last_kiss.flac",
            "桜流し (2021 Remastered).flac",
            "Merry Christmas Mr Lawrence - FYI.flac",
            "Come Back To Me.flac",
            "Prisoner Of Love.flac",
            "In My Room.flac",
            "Stay Gold.flac",
            "Beautiful World (2021 Remastered).flac",
            "COLORS.m4a"
        ]
        
        let buttonClicked = false

        let myAudioPlayer = new AudioPlayer(myTrack)        
        let my_audio_ctx = new myAudioContext()

        my_audio_ctx.connectContext()
        
        //code adapted from https://engineering.carsguide.com.au/javascripts-web-audio-api-3ad0e624945
        let dataArray = my_audio_ctx.createDataArray(16384)
        let bufferLength = my_audio_ctx.getBufferLength()

        let canvas = document.getElementById("my_music_drawing")

        let ctx = canvas.getContext("2d")

        let WIDTH = canvas.width;
        let HEIGHT = canvas.height;

        let barWidth = (WIDTH / bufferLength) * 2.5
        let barHeight

        function renderFrame() {

            let x = 0;

            requestAnimationFrame(renderFrame);
            my_audio_ctx.getAnalyzerContext().getByteFrequencyData(dataArray);

            ctx.fillStyle = "white";
            ctx.fillRect(0, 0, WIDTH, HEIGHT);
            for (let i = 0; i < bufferLength; i++) {
                barHeight = dataArray[i] * 0.3;
                
                let r = barHeight + (25 * (i/bufferLength));
                let g = 200 * (i/bufferLength);
                let b = 100;

                ctx.fillStyle = "rgb(" + r + "," + g + "," + b + ")";
                ctx.fillRect(x, HEIGHT - barHeight, barWidth, barHeight);
                x += barWidth;
            }
        }

        renderFrame()
    
        document.getElementById("display_switch").addEventListener('click', function() {
            buttonClicked = !buttonClicked
            if (buttonClicked) {
                my_audio_ctx.getAudioContext().resume().then(() => {
                console.log('Playback resumed successfully');
                 
                });
            } else {
                my_audio_ctx.getAudioContext().suspend().then(() => {
                    console.log('Playback stopped successfully');
                });
            }

        });
    </script>
</html>